/* Global Styles */
html {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;

	background: url("../images/bg.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Headers */
h1 {
	text-transform: uppercase;
	font-weight: 700;
}
h2 {
	font-family: 'Lobster', cursive;
	color: #913d78;
}
h3 {

}
h4 {

}
p {

}

.btn-outline {
	text-transform: uppercase;
	padding: 15px 30px;
	border: 1px solid #FFF;
	background: transparent;
	color: #FFF;
	border-radius: 30px;
	min-width: 200px;
	display: inline-block;
	margin-bottom: 30px;
}
.btn-solid {
	text-transform: uppercase;
	padding: 15px 30px;
	border: 1px solid #682d65;
	background-color: #682d65;
	color: #FFF;
	border-radius: 30px;
	min-width: 200px;
	display: inline-block;
	margin-bottom: 30px;
}

.login-block {
	width: 560px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-block {
	width: 560px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-block input {
	display: block;
	border-radius: 20px;
	border: 1px solid #FFF;
	padding: 10px;
	text-align: center;
	margin: 30px auto;
}
.form-block p , .form-block a{
	color: #FFF;
}
.form-block a {
	text-decoration: underline;
}
.form-block h1 {
	color: #FFF;
}

.form-block button {
	display: block;
	margin: 30px auto;
}

.login-block button {
	margin-left: 80px;
}

.login-block button:first-of-type {
	margin-top: 100px;
}

.login-block img {
	display: inline-block;
	float: left;
}

/* Main Screen */
.main-logo {
	float: left;
	margin: 20px;
	max-width: 200px;
}
.cell-logo {
	float: left;
	margin: 20px;
	max-width: 200px;
}
.main-nav ul {
	float: right;
	list-style-type: none;
}
.main-nav li {
	display: inline-block;
	color: #FFF;
	margin: 30px 0px 0px 80px;
}
.main-nav li a {
	color: #FFF;
	text-decoration: none;
}

.main-nav li a:hover {
	text-decoration: underline;
}

.link-about:before, .link-report:before, .link-logout:before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-size: 20px !important;
	margin-left: -30px;
	background: url("../images/icon-about.png") no-repeat;
}

.link-about:before {
	background: url("../images/icon-about.png") no-repeat;
}
.link-report:before {
	background: url("../images/icon-report.png") no-repeat;
	background-size: 30px !important;
	margin-left: -40px;
	width: 30px;
}
.link-logout:before {
	background: url("../images/icon-logout.png") no-repeat;
}

/* Content */
.left-column, .right-column {
	padding: 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.8);
}

.report-card {
	position: relative;
	width: 100%;
	border-radius: 25px;
	padding: 20px;
	background: url("../images/arrow-right.png") no-repeat center right 20px;
	background-color: #FFF;
	margin-top: 20px;
}
.report-card h3 {
	margin-top: 15px;
}
.report-card img {
	float: left;
	margin-right: 20px;
}
.report-card strong {
	position: absolute;
	top: 36px;
	right: 30px;
	max-width: 140px;
	text-align: left;
}
.white-bg {
	background-color: #FFF;
	border-radius: 25px;
	padding: 30px;
}

.modal-dialog {
	max-width: 700px;
}

#about img {
	float: left;
	margin-right: 30px;
	border-radius: 25px;
}
#about h4 {
	margin-top: 35px;
	font-size: 20px;
	font-weight: bold;
}

/* Report Modal */
#report textarea {
	width: 100%;
}
#report #police-yes, #report #police-no{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0;
}

#report p {
	display: inline-block;
  	margin-right: 20px;
}

#report input, #report select, #report textarea {
	width: 100%;
	height: 35px;
	border-radius: 15px;
	border: 1px solid gray;
	padding-left: 10px;
}

#report textarea {
	height: 250px;
}

.input-group-addon { 
	border-radius: 20px !important;
	padding-left: 16px !important;
}
.report-results {
	position: relative;
}
.report-results a {
	position: absolute;
	top: 20px;
	right: 20px;
}
.report-results iframe {
	margin-top: -25px;
	border-radius: 25px;
	margin-left: -10px;
	margin-right: -10px;
	width: 100%;
}
.report-results .white-bg {
	padding-right: 10px;
}
.google-map {
	width: 100%;
}
.covid-stats {
	position: relative;
}
#covid-states {
	position: absolute;
	top: 40px;
	right: 20px;
	max-width: 200px;
	height: 35px;
	border-radius: 15px;
	border: 1px solid gray;
	padding-left: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.small-nav {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.left-column {
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		overflow: auto;
	}

	.right-column{
		margin:20px
	}

	.main-logo {
		margin: 0;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.login-btn {
		margin: 0;
		top: 50%;
		left: 35%;
		transform: translate(-50%, -50%);
		position: relative;
	}
	.covid-stats {
		margin: 5px;
		padding: 5px;
	}
	.cell-logo {
		display: block;
		width: 100%;
		max-width: 250px;
		margin: 15px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 576px) {
	.white-bg {
		padding-bottom: 5px;
	}
	.m-logo {
		margin: 0;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.login-btn {
		margin: 0;
		top: 50%;
		left: 35%;
		transform: translate(-50%, -50%);
		position: relative;
	}
	.left-column {
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		overflow: auto;
	}
	
	.cell-logo {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 15px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}